.card {
    text-align: center;
}

.card .card-img-top {
    height: 50%;
    width: 80%;
    margin: auto;
    padding: 10px;
}

.card-title {
    text-decoration: underline;
    font-weight: bold;
}